body {
    background-color: #F2EAE2;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card {
    max-width: 600px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 8px;
    overflow: hidden;
    max-height: 450px;
    
   

}


.perfume {
    max-width: 300px;
}

.description {
    padding: 32px;
}

h2 {
    font-family: "Montserrat";
    color: #6C7289;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 5px;
}

h1 {
    font-family: "Fraunces";
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #1C232B;

}

p {
    font-family: "Montserrat";
    color: #6C7289;
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
}

.preco149 {
    font-family: "Fraunces";
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #3D8168;
}

.preco169 {
    font-family: "Fraunces";
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    color: #6C7289;
    text-decoration: line-through;

}

.precos {
    display: flex;
    gap: 19px;
    align-items: center;
}

button {
    width: 100%;
    background-color: #3D8168;
    color: white;
    font-family: "Montserrat";
    font-size: 14px;
    font-weight: 700;
    padding: 15px;
    border-radius: 8px;
    outline: none;
    border: none;
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 11px;
    justify-content: center;
    cursor: pointer;
}

.perfume-mobile {
    display: none;

}

button:hover {
background-color: #1A4032;
}

@media (max-width: 376px)  {
.perfume {
    display: none;

}

.perfume-mobile {
    display: block;
    width: 100%;
}

.card {
    grid-template-columns: 1fr;
    max-height: none;
    margin-right: 16px;
    margin-left: 16px;
}

p {
    font-size: 13px;
    padding-right: 6px;
}

.description {
    padding: 24px;
}

button {
    margin-top: 20px;
}



}